<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="javascript/index.js" defer></script>
  </head>
  <body>
    <div class="header-div">
      <button class="button-menu"><i class="fa fa-bars"></i></button>
      <header class="main-text"><%= title %></header>
      <div class="accessories-group">
        <!-- <div> -->
        <button class="settings-button"><i class="fa fa-cog"></i></button>
        <span class="hidden">22</span>
        <button class="help-button">?</button>
        <span class="hidden">22</span>
        <button class="profile-button"><i class="fa fa-user"></i></button>
        <span class="hidden">22</span>
      </div>
    </div>
    <hr>
    <div class="greeting-div">
      <center>
      <p id="greeting-text">

      </p>
    </center>
    </div>
  </body>
</html>
