<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheets/login.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

</head>

<body>
<center>
    <div class="header" style="background: url('/images/1_25.jpg');">
        <header style="font-size: 2.5rem;" class="main-text">Maverick</header>
        <hr>
    </div>
    <br>
    <h2 class="main-text" id="login-text">Login</h2>
</center>
</body>

</html>