@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0;
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 0px;
    margin: 0;
    padding-top: 0px;
}
.header {
    position: relative;
    top: 0px;
}
hr {
    border: 0.5rem solid rgb(128, 255, 0);
    border-radius: 5px;
  }
.main-text {
    font-family: "Lobster", fantasy, "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
      top: 0px;
}
#login-text{
    font-size: 20px;
    background-image: linear-gradient(90deg,#67c20c,#079999);
    border-radius: 25px;
    width: 500px;
    padding: 5px;
    color: #ffffff; 
}